@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*,
::before,
::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #17141d;
    font-family: var(--main-font);
}

.card-list {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 60px; */
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c20, #201c29 1px, #17141d 0, #17141d);
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    transition: .4s;
    cursor: pointer;
    border-radius: .4rem;
    background: #17141d;
    box-shadow: -2rem 0 3rem #000;
}

.card:hover {
    transform: translateY(-1.7rem);
    transition: .4s;
}

.card:hover~.card {
    transform: translateX(1rem);
    filter: blur(1px);
}

.card:not(:first-child) {
    margin-left: -1rem;
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1%;
    margin-top: 1rem;
    background: #1d1818;
    top: 100%;
    opacity: .5;
    background-clip: content-box;
    transform: translateX(-1rem);
    transition: .4s;
    visibility: hidden;
    box-shadow: 0 1px 2px rgba(230, 95, 95, 0.5);
    backdrop-filter: blur(20%);
}

.card::after {
    content: '';
    position: absolute;
    width: 4%;
    height: 4%;
    top: 1%;
    padding: .5rem;
    border-radius: 50%;
    transition: .4s;
    background: #f80505;
    background: #f80505;
    opacity: .5;
    visibility: hidden;
    transform: translateX(-1rem);
    backdrop-filter: blur(20%);
    box-shadow: 0 325px 2px rgba(245, 242, 242, 0.5);
}

.card:hover::before,
.card:hover::after {
    visibility: visible;
    transition: .3s;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

.author-avator img {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(37, 36, 36);
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 16px 10px;
}

.author-avator::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 60%;
    left: 5.05%;
    top: 23%;
    background: no-repeat;
    border-radius: 50%;
    background: none;
    fill: none;
    stroke-width: 8px;
    pointer-events: none;
    border: 8px solid rgb(158, 15, 4);
    z-index: 0;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
    user-select: none;
}

.card-header h2:hover {
    background: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    text-shadow: none;
    transition: .4s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}